/*
Input boxes
*/
.inp-box {
    display: inline-block;
    
    text-align: center;
    
    border-radius: 5px;
    box-shadow: 0px 0px 5px #aaaaaa;
    outline: 0;
    border: none;
    
    vertical-align: baseline;
}
.inp-box:focus {
    box-shadow: 0px 0px 10px #0077b3;
}

.inp-box.small {
    height: 20px;
    width: 100px;
}
.inp-box.small-high {
    height: 25px;
    width: 100px;
}
.inp-box.medium {
    height: 30px;
    width: 300px;
}
.inp-box.medium-high {
    height: 35px;
    width: 300px;
}
.inp-box.large {
    height: 30px;
    width: 500px;
}
.inp-box.large-high {
    height: 35px;
    width: 500px;
}
.inp-box.vlarge {
    height: 30px;
    width: 1000px;
}
.inp-box.vlarge-high {
    height: 35px;
    width: 1000px;
}


/*********************************************************************
Labels
*/
label {
    display: inline-block;
    
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 15px;
}
label.fieldName {
    left: 0;
    
    vertical-align: bottom;
    
    text-align: right;
    margin-right: 20px;
}

/*********************************************************************
Buttons
*/

.btn {
    display: inline-block;
    
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #d4d4d4;
    
    width: auto;
    width: auto !important;
    
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    
    vertical-align: bottom;
}
.btn:hover {
    cursor: pointer;
}
.btn.small {
    height: 20px;
}
.btn.medium {
    height: 25px;
}
.btn.large {
    height: 30px;
}
.btn.primary {
    color: white;
    background: #085;
    
    border-color: green;
}
.btn.primary:hover {
    background: green;
    border-color: #085;
}
.btn.secondary {
    color: black;
    background: white;
    
    border-color: whitesmoke;
}
.btn.secondary:hover {
    background: whitesmoke;
}
.btn.danger {
    
}

/*********************************************************************
Links
*/
a:link {
    position: relative;
    display: inline-block;
    color: #0081c2;
    text-decoration: none;
}
a:visited {
    color: #0081c2;
}
a:hover {
    color: tomato;
}
a:active {
    color: red;
}

/*********************************************************************
Divisions
*/
div.containerTile {
    position: relative;
    display: inline-block;
    background: white;
    
    box-shadow: 0px 0px 5px black;
    
    border-radius: 5px;
}
div.innerContainer {
    position: relative;
    display: inline-block;

    height: auto;
    height: auto !important;
    
    margin: 10px;
}
div.title {
    display: block;
    
    width: 100%;
    height: 30px;
    
    text-align: center;
    font-family: Georgia, serif;
    font-size: 25px;
    
    background: #d6e9c6;
    color: tomato;
}
div.fieldSet {
    display: inline-block;
    
    height: auto;
    height: auto !important;
    width: auto;
    width: auto !important;
    
    margin-bottom: 10px;
}

div.commentText {
    position: relative;
    display: table-row;
    
    width: 100%;
    height: auto;
    height: auto !important;
}

/*********************************************************************
Images
*/

.imageContainer {
    position: relative;
    display: table-cell;
    float: left;
    
    height: auto;
    height: auto !important;
    width: auto;
    width: auto !important;
    
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    
    overflow: hidden;
}
.imageContainer:hover {
    box-shadow: 0px 0px 5px #646491;
}
.image {
    position: relative;
    display: block;
}
.image.vsmall {
    height: 50px;
    width: 47px;
}
.image.small {
    height: 100px;
    width: 95px;
}
.image.medium {
    height: 180px;
    width: 170px;
}
.image.large {
    height: 220px;
    width: 208px;
}
.image.vlarge {
    height: 250px;
    width: 236px;
}

.caption {
    position: relative;
    display: block;
    
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 0;
        
    width: 100%;
    height: auto;
    height: auto !important;
    
    text-align: center;
    font-weight: bold;
    color: #aaaaaa;
    
    border-top: 1px solid #aaaaaa;
}


/*
Paragraph
*/
p {
    font-size: 16px;
    margin: 5px;
    margin-bottom: 10px;
}
p+p {
    margin-top: 0px;
}
p:first-letter {
    font-size: 50px;
}
p+p:first-letter {
    font-size: 16px;
}

.error {
    display: block;
    
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 5px;
    
    width: 400px;
    height: auto;
    height: auto !important;
    
    font-family: monospace;
    text-align: center;
    
    background-color: seashell;
    color: tomato;
    
    border: 1px red solid;
}

.footNote {
    display: block;
    
    color: #aaaaaa;
}