/*
home.php specific styling
*/

form {
    padding: 0;
    margin: 0;
}
#aboutUs {
    width: 1160px;
}
label.fieldName {
    width: 150px;
}

#registerForm, #loginForm {
    position: relative;
    display: none;
    
    width: 570px;
    
    left: 0;
    right: 0;
    margin: auto;
    
    margin-top: 10px;
    
    vertical-align: top;
}

.linkText {
    position: relative;
    display: inline-block;
    width: auto;
    width: auto !important;
}

.buttonSet {
    position: relative;
    display: inline-block;
    
    bottom: 0;
    width: 550px;
    height: auto;
    height: auto !important;
    
    padding-top: 5px;
    margin-top: 5px;
    
    text-align: right;
    
    border-top: 1px #d4d4d4 solid;
}
